<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Parallel Data Analysis Tutorial</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
</head>

<body>
   <div class="container" style="width: 800px">

      <div class="page-header" style="border: none;">
         <h1>Parallel Data Analysis Tutorial</h1>
      </div>
      <div class="row">
         <div class="col-md-12">
           <h2 class="jumbotron waiting" id="message">
             Waiting for your cluster to start...
           </h2>
         </div>
         </div>
      </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type='text/javascript'>

$.post({
  url: "",
  success: function (name) {
    console.log("Requested cluster:", name);
    function check() {
      $.get("/wait/" + name, function (url, status, req) {
        if (req.status === 202) {
          console.log("Cluster not ready");
          setTimeout(check, 1000);
        } else {
          window.location = url;
        }
      });
    }
    setTimeout(check, 1000);
  },
  error: function (err) {
    console.log("Error!", err);
    $("#message").text(err).addClass("error");
  }
});
</script>

</body>
</html>
